# Pip requirements to build WebHelpers documentation and run tests.
#
# Required for tests
Nose
Routes
WebOb

# Required for generating HTML documentation
Sphinx

# Optional for certain helpers
Unidecode
